extends ../layout

block content
            .container
                center
                    .page-header 
                        h3 Change Payment Information
                        h3(style='color:red;') CURRENTLY PAYMENTS DO NOT WORK. WE ARE LOOKING INTO THIS.

                form#checkout(method='post', action='/checkout')
                  #dropin
                  input(type='submit', value='Pay $10')
