extends ../layout



block content
    center
        h1 Welcome back, #{user.profile.name || user.email || user.id}!&nbsp 
    div.container-fluid
      div.row-fluid
        div.span2
          | Inserted
        div.span10
          | Hello World

        
            
            

