extends ../layout



block content
    center
        h1
            p Welcome back, #{user.profile.name || user.email || user.id}!&nbsp 

        img(src='/img/raindrop.png')
            
            

