extends ../layout



block content
    center
        h1
            p Welcome back, #{user.profile.name || user.email || user.id}!&nbsp 

        img(src='http://ctse91.files.wordpress.com/2012/03/raindrop.png')
            
            

