extends ../layout

block content
    .container
      // Page Heading
      .row
        .col-lg-12
          h1.page-header
            | Charities
      // /.row
      // Charity One
      .row
        .col-md-7
          a(href='#')
            img.img-responsive(src='http://placehold.it/700x300', alt='')
        .col-md-5
          h3 Charity One
          h4 Subheading
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
          a.btn.btn-primary(href='#')
            | View Charity

      // /.row
      hr
      // Charity Two
      .row
        .col-md-7
          a(href='#')
            img.img-responsive(src='http://placehold.it/700x300', alt='')
        .col-md-5
          h3 Charity Two
          h4 Subheading
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.
          a.btn.btn-primary(href='#')
            | View Charity

      // /.row
      hr
      // Charity Three
      .row
        .col-md-7
          a(href='#')
            img.img-responsive(src='http://placehold.it/700x300', alt='')
        .col-md-5
          h3 Charity Three
          h4 Subheading
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!
          a.btn.btn-primary(href='#')
            | View Charity

      // /.row
      hr
      // Charity Four
      .row
        .col-md-7
          a(href='#')
            img.img-responsive(src='http://placehold.it/700x300', alt='')
        .col-md-5
          h3 Charity Four
          h4 Subheading
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit?
          a.btn.btn-primary(href='#')
            | View Charity

      // /.row
      hr
      // Charity Five
      .row
        .col-md-7
          a(href='#')
            img.img-responsive(src='http://placehold.it/700x300', alt='')
        .col-md-5
          h3 Charity Five
          h4 Subheading
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quo, minima, inventore voluptatum saepe quos nostrum provident ex quisquam hic odio repellendus atque porro distinctio quae id laboriosam facilis dolorum.
          a.btn.btn-primary(href='#')
            | View Charity

      // /.row
      hr
      // Pagination
      .row.text-center
        .col-lg-12
          ul.pagination
            li
              a(href='#') «
