

body {
    background:#007aff;
}


header {
  padding-top: 10%;
  color:white;
}

.navbar-default{
  background:transparent;
  border-color: transparent;

}
.navbar-default .navbar-brand, .navbar-inverse .navbar-brand {
color: white;
font-family: 'Pacifico', cursive;
font-size: 30px;
}

.navbar-default .navbar-brand:hover, .navbar-inverse .navbar-brand:hover {
-webkit-animation: wobble 1s;
    color:white;
border-bottom: 4px solid #000000;
    transition: all 0.3s;
}


.navbar-nav>li {
float: left;
background: transparent;
color: white;
}

.btn-primary {
/* color: #ffffff; */
background-color: white;
border-color: #357ebd;
color:#007aff;

-webkit-animation: rotateIn 2s;
}


.btn:hover {
    color:white;
    border-color:white;
    border-bottom: 1px solid white;
}

.navbar-default .navbar-nav > li > a {
color: white;
}

.navbar-default .navbar-nav > li > a:hover {
color: white;
}



    
.navbar-default .navbar-brand a:hover {
color: white;
}

a {
    color:white;
}

a:hover {
    color:white;
    border-bottom: 6px solid white;
    transition: all 0.3s;
}

footer {
    color:white;
}

footer:hover {
    color:white;
}