extends homelayout

block content
    if !user
            section#intro
              .container
                    center
                        h1 Let's make the world better.
                        | <br><br>
                        a.button.btn.btn.btn-primary(href='/')
                                | Closed for Private Beta
                        | <br><br>
                        a(href='#learnmore')
                            | Learn more about how it works
            // Section 2
            section#learnmore
              .container
                center
                        h3 One Drop. Many Ripples.

    else 
        if user.user
        script.
            window.location = "/dashboard"

