extends homelayout

block content
    if !user
            section#intro
              .container
                    center
                        h1 Let's make the world better.
                        | <br><br>
                        a.button.btn.btn.btn-primary(href='/')
                                | Closed for Private Beta
                        | <br><br>
                        a(href='#learnmore')
                            | Learn more about how it works

            section#arrowdown
                .container
                        a(href="#learnmore")
                            i.ion-chevron-down
            // Section 2
            section#learnmore
                center
                    h3 How it works:
                  div.container
                    article.cf
                      div.img-circle-div
                        div.iconsbig
                            i.ion-heart(style="color:#FF4136")&nbsp;&nbsp;&nbsp;
                            i.ion-arrow-right-c
                        h2 You sign up the to help others.
                      div.img-circle-div
                        div.iconsbig
                            i.ion-card(style="color:#FFDC00")&nbsp;&nbsp;&nbsp;
                            i.ion-arrow-right-c
                        h2 You enter in your payment information
                      div.img-circle-div
                        div.iconsbig
                            i.ion-medkit(style="color:#0074D9")&nbsp;&nbsp;&nbsp;
                            i.ion-arrow-right-c
                        h2 Every month you help the causes you love with recurring monthly donations
                      div.img-circle-div
                        div.iconsbig(style="color:#2ECC40")
                            i.ion-checkmark
                          h2 You just helped make the world better. Every month.




    else 
        if user.user
        script.
            window.location = "/dashboard"

