extends homelayout

block content
    if !user
            section#intro
              .container
                    center
                        h1 Let's make the world better.
                        | <br><br>
                        a.button.btn.btn.btn-primary(href='/')
                                | Closed for Private Beta
                        | <br><br>
                        a(href='#learnmore')
                            | Learn more about how it works
            // Section 2
            section#learnmore
              .container
                center
                        h3 One Drop. Many Ripples.
                p Hic nulla in nisi e for reprehenderit nostrud labore commodo, culpa distinguantur occaecat dolor quibusdam, occaecat te anim. Admodum quae labore voluptate dolore. Si an for voluptate est aliqua in ingeniis si elit, fabulas tamen quem aut aute qui eu quibusdam relinqueret, aliquip se legam doctrina est ore qui admodum nam quo a eruditionem est voluptate adipisicing te nostrud. Fore illustriora cupidatat cillum appellat, cupidatat sunt cillum singulis culpa. Mandaremus ab cupidatat. Offendit tamen esse id quem ab velit cohaerescant admodum nisi laboris.
                p Hic nulla in nisi e for reprehenderit nostrud labore commodo, culpa distinguantur occaecat dolor quibusdam, occaecat te anim. Admodum quae labore voluptate dolore. Si an for voluptate est aliqua in ingeniis si elit, fabulas tamen quem aut aute qui eu quibusdam relinqueret, aliquip se legam doctrina est ore qui admodum nam quo a eruditionem est voluptate adipisicing te nostrud. Fore illustriora cupidatat cillum appellat, cupidatat sunt cillum singulis culpa. Mandaremus ab cupidatat. Offendit tamen esse id quem ab velit cohaerescant admodum nisi laboris.



    else 
        if user.user
        script.
            window.location = "/dashboard"

