doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Let\'s make the world better. A new way painlessly donate to five charities a month.')
    meta(name='csrf-token', content=_csrf)
    meta(name='author', content='https://charitydrops.org')
    title CharityDrops.org | Let's make the world better.
    != css('animate')
    != css('styles')
    != css('home')
    link(href='https://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet', type='text/css')

  body
  
    include parts/navbar

    .container
      include ../../parts/flash
      block content

    include parts/footer-home
    != js('application')

