extend homelayout

block content
    if !user
      .loader
          .fading-line
        section#home.page(data-speed="4", data-type="background")
          .container
            .content.cover.text-center
              .row
                .col-lg-12
                  brand.animated.hiding(data-animation='fadeInDown', data-delay='300') CharityDrops
                  h1.animated.hiding(data-animation='fadeInDown', data-delay='300') Let's make the world better.
                  a.button.btn.btn.btn-primary.animated.hiding(data-animation='rotateIn', data-delay='900', href='#login')
                    i.fa.fa-facebook
                    | &nbsp;&nbsp;&nbsp;Registration closed for Private Beta
        #navbar-top
          nav.navbar.navbar-default.navbar-static(role='navigation')
            .container
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand.nav-external(href='#home') CharityDrops
              .collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                  li.active
                    a(href='#home') Home
                  li
                    a(href='#ready') Ready?
                  li
                    a(href='#charities') Charities
                  li
                    a(href='#contact') Contact
                  li
                    a(href='#register') Register
                  li
                    a(href='#login') Login
        section#services.page
        #ready.page
          .container
            .content.text-center
              .heading
                h2 Are you ready to make the world better?
                .border
                p
                  | We want to make it painless and easy for you to donate to the causes you love and care about.
              .row
                .col-lg-4.service.animated.hiding(data-animation='fadeInUp', data-delay='300')
                  i.fa.fa-globe.fa-5x
                  h3
                    a(href='#') Charities around the world
                  p
                    | Dozens of charities around the world are routinely being added to the service. We want to make it easy on you to donate to as many charities as possible through bundles.
                .col-lg-4.service.animated.hiding(data-animation='fadeInUp', data-delay='600')
                      .serviceheart
                         i.fa.fa-heart.fa-5x
                      h3
                        a(href='#') Gift Love
                      p
                        | We are in the business of helping, and by doing so we need you to help us send all the love we can to the organizations that need them most. 
                .col-lg-4.service.animated.hiding(data-animation='fadeInUp', data-delay='900')
                  i.fa.fa-check.fa-5x
                  h3
                    a(href='#') Are you ready?
                  p
                    | All you need to do to help is #[a(href="/auth/facebook" style="text-decoration:underline;") register], enter in your payment information, and you are on your way to helping 
                    strong
                        | thousands!
                    
        section#work.page
        #charities.page
          .container
            .content.text-center
              .heading
                h2 A few of the charities we feature
                .border
                p
                  | These are the wonderful charities we support, all of these charities will be open to being donated now, or soon.
                
              .row
                .col-md-12
                   // ul.filters.list-inline
                      li
                        a.active(data-filter='*', href='#') All
                      li
                        a(data-filter='.human', href='#') Human Rights
                      li
                        a(data-filter='.education', href='#') Education
                      li
                        a(data-filter='.science', href='#') Science & Health
                #portfolio
                        ul.items.list-unstyled.clearfix.animated.hiding(data-animation='fadeInRight')
                          li.item.human
                            a(href='#')
                              img(src='home/img/work/1.jpg', alt='')
                              .overlay
                          li.item.science
                            a(href='#')
                              img(src='home/img/work/amerciancancersociety.jpg', alt='')
                              .overlay

                          li.item.human
                            a(href='#')
                              img(src='home/img/work/actionagainsthunger.jpg', alt='')
                              .overlay

                          li.item.science
                            a(href='#')
                              img(src='home/img/work/habitatforhumanity.jpg', alt='')
                              .overlay

                          li.item.education
                            a(href='#')
                              img(src='home/img/work/Waterorg.jpg', alt='')
                              .overlay

                          li.item.human
                            a(href='#')
                              img(src='home/img/work/feedingamerica.png', alt='')
                              .overlay

                          li.item.education
                            a(href='#')
                              img(src='home/img/work/booksforafrica.jpg', alt='')
                              .overlay

                          li.item.active
                            a(href='#')
                              img(src='home/img/work/many-many-more.jpg', alt='')
                              .overlay

        section#clients.page
          .container
            .content.text-center
              .row
                .col-lg-12.animated.hiding(data-animation='fadeInDown')
                  #testimonials.carousel.slide
                    ol.carousel-indicators
                      li.active(data-target='#testimonials', data-slide-to='0')
                      li(data-target='#testimonials', data-slide-to='1')
                      li(data-target='#testimonials', data-slide-to='2')
                    .carousel-inner
                      .item.active
                        p.quote
                          | I wanted an easier way to donate to the charities I loved, so one night while I was about to fall asleep, CharityDrops came to my mind and the rest was history.
                        p.client Macleod Sawyer / Cofounder
                      .item
                        p.quote
                          | This helped change my life, it made me happier, it made me feel better - but most of all - its helping others.
                        p.client David Crosby
                      .item
                        p.quote
                          | CharityDrops is a service that allows you to help others, every month, without any effort.
                        p.client Elizabeth Spicer / Cofounder
                    a.left.carousel-control(data-slide='prev', href='#testimonials') ‹
                    a.right.carousel-control(data-slide='next', href='#testimonials') ›
        //section#about.page
          //.container
            .content.text-center
              .heading
                h2 Who are we?
                .border
                p
                  | We are just two teenagers who want to help make the world better.
                  .row
                    .col-md-5.teammate.animated.hiding(data-animation='fadeInLeft', data-delay='600')
                      .profile-photo
                        img.img-responsive(src='home/img/team/macleod.jpg', alt='')
                      .bio
                        h4 Macleod Sawyer
                        h5 CEO | Cofounder
                        .border
                        p Seventeen. Entrepreneur. Programmer. Blogger.
                        p Less is more, more or less.
                        ul.list-inline
                          li
                            a(href='http://www.twitter.com/mxcleodsawyer', target="_blank", title='Twitter')
                              i.fa.fa-twitter
                          li
                            a(href='http://www.mxcleod.tumblr.com', target="_blank", title='Tumblr')
                              i.fa.fa-tumblr
                          li
                            a(href='http://www.github.com/macleodsawyer', target="_blank", title='GitHub')
                              i.fa.fa-github
                          li
                            a(href='mailto:macleod@charitydrops.org', target="_blank", title='Email')
                              i.fa.fa-envelope-o
                    .col-md-5.teammate.animated.hiding(data-animation='fadeInUp', data-delay='300')
                      .profile-photo

                      .bio
                        h4 Elizabeth Spicer
                        h5 Cofounder
                        .border
                        p Sixteen. Violinist. Horse Rider.
                        p Queen of the peruvian glittertwats.
                        ul.list-inline
                          li
                            a(href='mailto:elizabeth@charitydrops.org', target="_blank", title='Email')
                              i.fa.fa-envelope-o
        
          .twitter.text-center
            .animated.hiding(data-animation='fadeIn')
            a(href="http://twitter.com/charitydrops", target="_blank")
              i.fa.fa-twitter.fa-3x
              #feed
        section#contact.page
          .container
            .content.cover.text-center
              .heading
                h2 Getting in touch.
                .border
                p If you are in serious need of getting in touch, we prefer if you tweeted or emailed our support team!
              .row
                .col-lg-4.animated.hiding(data-animation='fadeInRight', data-delay='600')
                  i.fa.fa-twitter.fa-3x
                  a(href='http://twitter.com/charitydrops', target="_blank") @CharityDrops
                .col-lg-4.animated.hiding(data-animation='fadeInLeft', data-delay='600')
                  i.fa.fa-envelope.fa-3x
                  a(href='mailto:support@charitydrops.org', target="_blank") support@charitydrops.org
                .col-lg-4.animated.hiding(data-animation='fadeInDown', data-delay='300')
                  i.fa.fa-facebook.fa-3x
                  a(href='https://facebook.com/charitydrops', target="_blank") CharityDrops
        section#work.page
        #login.page
        #register.page
          .container
            .content.text-center
              .heading
                h2 Register | Login
                .border
                // p We are now open to public use for a short time, be sure to sing up by logging in with your facebook account!
                br
                //a.button.btn.btn.btn-primary.animated.hiding(data-animation='rotateIn', data-delay='900')
                #mc_embed_signup(style="color:#000;")
                  form#mc-embedded-subscribe-form.validate(action='//ideadrops.us7.list-manage.com/subscribe/post?u=9ff67b3252cf627cdce2a8c42&id=6da8152b52', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                    #mc_embed_signup_scroll
                      .mc-field-group
                        label(for='mce-EMAIL') Be notified for when we open registration!
                        br
                        input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
                      #mce-responses.clear
                        #mce-error-response.response(style='display:none')
                        #mce-success-response.response(style='display:none')
                      // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                      div(style='position: absolute; left: -5000px;')
                        input(type='text', name='b_9ff67b3252cf627cdce2a8c42_6da8152b52', tabindex='-1', value='')
                      .clear

                        input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
                // End mc_embed_signup


        footer#footer
          .container
            .row
              .col-lg-12.animated.hiding(data-animation='fadeInUp')
                ul.social.list-inline
                  li
                    a.facebook(href='http://www.facebook.com/charitydrops', target="_blank", title='Facebook')
                      i.fa.fa-facebook.fa-2x
                  li
                    a.twitter(href='http://www.twitter.com/charitydrops', target="_blank", title='Twitter')
                      i.fa.fa-twitter.fa-2x
                  li
                    a.tumblr(href='http://blog.charitydrops.org', target="_blank", title='Tumblr | Blog')
                      i.fa.fa-tumblr.fa-2x
                p.copyright
                  | © 2014 CharityDrops.org
       html.           
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="home/js/bootstrap.min.js"></script>
        <script src="home/js/isotope.pkgd.min.js"></script>
        <script src="home/js/imagesloaded.min.js"></script>
        <script src="home/js/jquery.scrollTo.min.js"></script>
        <script src="home/js/jquery.nav.min.js"></script>
        <script src="home/js/jquery.appear.min.js"></script>
        <script src="home/js/twitterFetcher.min.js"></script>
        <script src="home/js/script.js"></script>
        <!-- Google Analytics: change UA-25089888-9 to be your site's ID. -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-56294670-1', 'auto');
          ga('send', 'pageview');

        </script>
        <script type="text/javascript">
            function flashTextarea(){
              $('.ta').css({'outline':'1px solid rgba(255,255,0,0.7)'})
              setTimeout(function(){
                $('.ta').css({'outline':'1px solid rgba(255,255,0,0)'})
              },50)
            }

            $(function(){

              hljs.configure({languages:['js']})
              hljs.highlightBlock($('#code')[0])

              $('#usage').click(function(){
                this.focus()
                this.select()
              })


              $('.textarea').focus()
                .typetype("Sometimes, it's really nice to simulate a human typing...", {
                  callback: function() {
                    $('body').addClass('reveal')
                  }
                }).delay(1500)
                .typetype("\n\nThat's what this `typetype` jQuery plugin is for.")
                .fadeTo(400,0.3).delay(1000).queue(function(){$('#secondhalf').fadeIn(1000);$('textarea').dequeue()}).delay(4000).fadeTo(400,1.0).delay(1000)
                .typetype("\n\nYou can make it fast... ",{
                  keypress:flashTextarea,
                  t:60,
                  e:0
                })
                .typetype("or slow and error-prone.", {
                  t:200,
                  e:0.2, // the default error rate is 0.04
                  callback: function(){
                    $("#usage").addClass('show')
                  }
                })
                .backspace(48)
                .typetype("Try it out!")

            })
            </script>
    else
        if user.user
        script.
            window.location = "/dashboard"
