doctype html
html
  head.
    <!DOCTYPE html>
    <html lang="en-us">
      <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Let's make the world better. Start now, by donating to bundles of charities every month automatically.">
        <meta name="author" content="Macleod Sawyer">
        <link rel="shortcut icon" href="home/ico/favicon.ico">
        <title>CharityDrops | Let's Make The World Better</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,600">
        <link rel="stylesheet" href="home/css/bootstrap.min.css">
        <link rel="stylesheet" href="home/css/style.css">
        <link rel="stylesheet" href="home/css/animate.min.css">
        <link rel="stylesheet" href="home/css/font-awesome.min.css">
        <!--[if lt IE 9]>
        <script src="home/js/html5shiv.js"></script>
        <script src="home/js/respond.min.js"></script>
        <![endif]-->
      </head>
  body
      include ../../parts/flash
      block content