footer
  .container.text-center
    p.pull-left made with <3
    ul.pull-right.list-inline
      li
        a(href='/blog') Blog
      li
        a(href='/team') Team
      li
        a(href='/privacy') Privacy