footer
  .container.text-center
    p.pull-left © 2014 
        a(href='/') CharityDrops.org
    ul.pull-right.list-inline
      li
        a(href='/blog') Blog
      li
        a(href='/team') Team
      li
        a(href='/privacy') Privacy