.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href='/')
        | CharityDrops 
      ul.nav.navbar-nav.navbar-right
          li(class=title=='Login'?'active':undefined)
            a(href='/auth/facebook') Login
          li(class=title=='Learn More'?'active':undefined)
            a(href='/more') Learn More
            